.gradient {
  position: absolute;
  top: 5;
  left: 12;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    120deg,
    rgb(48, 47, 47) 0%,
    rgba(0, 0, 6, 0.558) 20%,
    rgba(0, 0, 6, 0.558) 40%,
    rgba(255, 255, 255, 0) 65%
  );
  z-index: 10;
}
