@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.z-index-10 {
  z-index: 30;
}



/* emabla css code */
.promo-embla {
  margin: auto;
  --promo-slide-height: 3rem;
  --promo-slide-spacing: 3rem;
  --promo-slide-size: 1rem;
}

.promo-embla__viewport {
  overflow: hidden;
}

.promo-embla__container {
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--promo-slide-spacing) * -1);
  height: calc(var(--promo-slide-spacing) + var(--promo-slide-height));
  flex-direction: column;

}

.promo-embla__slide {
  transform: translate3d(0, 0, 0);
  /* flex: 0 0 var(--promo-slide-size); */
  padding-top: var(--promo-slide-spacing);
}

.animated-logo-embla {
  margin: auto;
  --animated-logo-slide-height: 1.2rem;
  --animated-logo-slide-spacing: 3rem;
  --animated-logo-slide-size: 3rem;
}

.animated-logo-embla__viewport {
  overflow: hidden;
}

.animated-logo-embla__container {
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--animated-logo-slide-spacing) * -1);
  height: calc(var(--animated-logo-slide-spacing) + var(--animated-logo-slide-height));
  flex-direction: column;

}

.animated-logo-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--animated-logo-slide-size);
  padding-top: var(--animated-logo-slide-spacing);
}



.stories-impact-embla {
  max-width: 100%;
  margin: auto;
  --stories-impact-emabla-slide-height: 20rem;
  --stories-impact-emabla-slide-spacing: 3rem;
  --stories-impact-emabla-slide-size: 100%;
}

.stories-impact-embla__viewport {
  overflow: hidden;
}

.stories-impact-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--stories-impact-emabla-slide-spacing) * -1);
}

.stories-impact-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--stories-impact-emabla-slide-size);
  min-width: 0;
  padding-left: var(--stories-impact-emabla-slide-spacing);
}


.stories-impact-embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.stories-impact-embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stories-impact-embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.stories-impact-embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla {
  /* max-width: 48rem; */
  margin: auto;
  --slide-height: 79rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}